@import "global.css";

.our-team__container {
    max-width: 1200px;
    margin:30px auto;
    padding: 30px;
    background-color: lightslategray;
}

.our-team__slider{
    width: 256px;
    height: 328.2px;
    border: 2px solid black;
    margin: 30px auto;
    overflow: hidden;
}
.our-team__slider__line{
    height: 328.2px;
    width: 1024px;
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
}